---
import '../css/style.css';
const { pageTitle = 'This is it!' } = Astro.props;
---

<body class="base-layout">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>

  <h1>About Me</h1>
  <h2>... and my new Astro site!</h2>
  <h1>This isn't about me!</h1>
  <h2>This is about Him and His works</h2>

  <p>I am only the facilitator.</p>
  <p>I will add more as He directs me too.</p>
</body>
