---
import PrimaryLayout from '../layouts/PrimaryLayout.astro';
import Navigation from '../components/Navigation.astro';
import BlogList from '../components/BlogList.astro';
// const posts = await Astro.glob('./posts/*.md');
const allPosts = Object.values(
  import.meta.glob('./posts/*.md', { eager: true })
);
---

<PrimaryLayout pageTitle="BLOG!">
  <h2>My Astro Learning Blog</h2>
  <p>This is where I will post about my journey learning Astro.</p>

  <h2>Posts</h2>
  <section>
    {
      allPosts.map((post: any) => (
        <p>
          <a href={post.url}>{post.frontmatter.title}</a>
        </p>
      ))
    }
  </section>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogList url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</PrimaryLayout>
