---
import Navigation from './Navigation.astro';
const pageTitle = 'Astro';
---

<header>
  <h1>{pageTitle}</h1>
  <Navigation />
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
